spring:
  profiles:
    active: local
   
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration  

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      # 커넥션 풀 크기 증가 (Kafka 대량 메시지 처리 대응)
      maximum-pool-size: 50  # 기본값 10 → 50으로 증가
      minimum-idle: 10       # 최소 유휴 연결 수
      connection-timeout: 60000  # 커넥션 획득 타임아웃 60초 (기본 30초)
      idle-timeout: 600000    # 유휴 연결 유지 시간 10분
      max-lifetime: 1800000   # 연결 최대 수명 30분
      leak-detection-threshold: 60000  # 연결 누수 감지 (60초 이상 사용 시 경고)

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}
    consumer:
      max-poll-records: 500  # 한 번에 100개 메시지 처리
      fetch-min-size: 10240  # 최소 1KB 데이터 대기
      fetch-max-wait: 500  # 최대 0.5초 대기
      group-id: billing-group
      auto-offset-reset: latest
      enable-auto-commit: false # 수동 커밋을 위해 자동 커밋 끄기
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.ureca.billing.core.dto.BillingMessageDto

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

    topic-creation:
      enabled: false

    # [중요] listener는 consumer 밖으로 나와야 합니다!
    listener:
      ack-mode: manual

  batch:
    job:
      enabled: false
      
# AES 암호화(개인 정보 보호)
crypto:
  aes:
    key: ${AES_SECRET_KEY}
  hash:
    key: ${HASH_SECRET_KEY}
      
# 실제 이메일 발송 활성화 여부
notification:
  email:
    enabled: false  # false로 하면 mocking만
    test-recipient: 4billforu@gmail.com  # 테스트용 수신자
    
   # 실패율 설정 (DLT 테스트용)
    initial-failure-rate: 1           # 첫 시도 실패율 (기본 1%)
    retry-failure-rate: 30            # 재시도 실패율 (기본 30%)
                                      # → DLT 도달률: 약 2.7% (0.01 × 0.30³)
