spring:
  profiles:
    active: local

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration  

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}
    consumer:
      group-id: billing-group
      auto-offset-reset: latest
      enable-auto-commit: false # 수동 커밋을 위해 자동 커밋 끄기
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: "com.ureca.billing.core.dto.BillingMessageDto"

    # [중요] listener는 consumer 밖으로 나와야 합니다!
    listener:
      ack-mode: manual

  batch:
    job:
      enabled: false