spring:
  profiles:
    active: local

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration  

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}

  batch:
    job:
      name: monthlyBillingJob
      enabled: true
    jdbc:
      initialize-schema: always

  crypto:
    aes:
      key: ${AES_SECRET_KEY}
    hash:
      key: ${HASH_SECRET_KEY}