# 공통 데이터베이스 설정
spring:
  config:
    import: optional:file:../.env[.properties]
  
  profiles:
    active: local  # 기본값 로컬

  # Flyway 설정
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

# Jasypt 암호화 (설정 정보)
jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}
    algorithm: PBEWithMD5AndDES
    iv-generator-classname: org.jasypt.iv.NoIvGenerator

# 로깅
logging:
  level:
    root: INFO
    com.ureca.billing: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

# AES 암호화(개인 정보 보호)
cypto:
  aes:
    key: ${AES_SECRET_KEY}