spring:
  config:
    import: optional:file:.env.local[.properties]  # 상위 폴더 참조

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 3000ms

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}
  crypto:
    aes:
      key: ${AES_SECRET_KEY}
    hash:
      key: ${HASH_SECRET_KEY}